.container{
    display: flex;
    gap: 10px;
    border: 1px solid #eee;
}
.box{
    width: 140px;
    height: 140px;
    background: #333;
    color: white;
    display: flex;
    align-items: content ;
    justify-content: center;
    border-radius: 10px;
    font-size: 1.2rem;
}
/* transition */
.transition{
    /* property : 적용 대상
       duration : 지속 시간
       timing-function : 변화 속도 - linear 일정하게 */
    transition: all 3s linear;
}
.transition:hover{
    background: #ffa114;
    cursor: pointer;
    /* 손모양 표시 */
}
/* transform 
   - 요소를 확대/회전/이동/기울이기
   */
.scale {
    background-color: indianred;
}
.scale:hover {
    transform: scale(2);
    /* 확대 */
    }
.rotate {
    background: indigo;
}
.rotate:hover {
    transform: rotate(30deg);
    /* 회전 */
}
.translate {
    background: cadetblue;
}
.translate:hover {
    transform: translate(20px, 50px);
    /* 이동 */
}
.skew:hover {
    transform: skew(10deg, -30deg);
}
/* animation- @keyfranes로 여러 단계를 지정 */
@keyframes bounce {
    0% {
    transform: translateY(0);
    }
    50%{
    transform: translateY(-50px);
    }
    100%{
    transform: translateY(0);
    }
}
.ani-once {
    animation: bounce 2s linear 2;
     /* name : 애니메이션 이름
    duration: 지속시간
    timing_function:속도 변화
    iteraction-count:반복 횟수 */
}
.ani-loop {
    background:navy;
    animation: bounce 2s linear infinite;
    /* 무한 반복 */

}
.ani-pause {
    background: salmon;
    animation: bounce 2s linear infinite;
}
.ani-pause:hover {
    animation-play-state: paused;
}
.perspective {
    perspective: 200px;
}
.p-3d {
    background: seagreen;
    transform-style: preserve-3d;
    transition: transform 2s;
}
.p-3d:hover {
    transform: rotateY(180deg);
}